## FRACTAL TREE
FRACTAL_TREE_VOL=./src

## RANCHER
# The host you want to reach the bot at
VIRTUAL_HOST=fractal-tree.io
# The port your bot can be reach on
VIRTUAL_PORT=8080
# The email address used to register the LE SSL certificate
LETSENCRYPT_EMAIL=your.email@provider.tld
